/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.component-verticalsplit-container{
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  padding: 4px;

  .component-verticalsplit-left{
    border: 0;
    padding: 0;
  }
  .component-verticalsplit-middle{
    flex-grow: 1;
    display: flex;
    border: 0;
    padding: 0;
  }
}
