<dyntb-dynamictoolbar>

</dyntb-dynamictoolbar>
<ng-template #tplMenuMainOne>
  <button mat-menu-item routerLink="/designer">
    <mat-icon>dialpad</mat-icon>
    <span>Designer</span>
  </button>
  <button mat-menu-item routerLink="/">
    <mat-icon>dialpad</mat-icon>
    <span>App</span>
  </button>
  <button mat-icon-button aria-label="search">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button aria-label="TODO">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>

<ng-template #tplTbOne>
  <button mat-icon-button aria-label="search">
    <mat-icon>note_add</mat-icon>
  </button>
  <button mat-icon-button aria-label="TODO">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button aria-label="TODO">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
<ng-template #tplTbTwo>
  <button mat-icon-button aria-label="TODO">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button aria-label="TODO">
    <mat-icon>favorite</mat-icon>
  </button>
</ng-template>
<!--
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/designer">
        <mat-icon>dialpad</mat-icon>
        <span>Designer</span>
      </button>
      <button mat-menu-item routerLink="/">
        <mat-icon>dialpad</mat-icon>
        <span>App</span>
      </button>
    </mat-menu>
    <span>ClientApp</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="TODO">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menuRight" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuRight="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Some</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Example</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
-->
